

div.shortcuts  {
    float: left;
    margin: 20px;
    padding: 0;
    position: relative;
    text-align: center;
    width:100px;
}

div.shortcuts  > a {
    background: /*#00ba8b*/ rgba(0,186,139,0.75);
    border-radius: 4px;
    box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.1);
    /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);*/
    display: table-cell;
    height: 100px;
    margin: 0;
    padding: 10px;
    text-decoration: none;
    vertical-align: middle;
    width: 100px;
}

.shortcut .shortcut-icon {
    color: #fff;
    font-size: 40px;
    margin-bottom: 0.25em;
    margin-top: 0.25em;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.shortcuts .shortcut-label {
    color: #656565;
    display: block;
    font-size: 14px;
    font-weight: 400;
    margin-top: 7px;
    text-align: center;
    height: 50px;
    width: 100px;
}

.shortcuts .circle {
    background-color: rgba(252, 252, 252, 0.8);
    border-radius: 100%;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.25);
    color: #25237a;
    font-size: 15px;
    font-weight: bold;
    height: 20px;
    line-height: 18px;
    padding: 5px;
    position: absolute;
    right: -10px;
    text-align: center;
    text-shadow: none;
    top: -8px;
    width: 20px;
}
.table-header{
    line-height:42px !important;
    background-color: #438EB9 !important;
}
.dataTables_empty{
    text-align: center !important;
}
.table > thead:first-child > tr:last-child > th {
    border:1px solid #ddd !important;
}

.dataTables_wrapper .row{
    border-left:1px solid #ddd !important;
    border-right:1px solid #ddd !important;
    display: flex !important;
    align-items: center !important;
}
.table-header{
    margin-bottom: 0px;
}

.help-block{
    margin-top: 1px !important;
    margin-bottom: 0px !important;
}

.has-error .form-control{
    border-color: #ddd !important;
}

.summernote .panel{
    margin-bottom: 0px !important;
}

.post .checkbox label{
    padding-left: 10px !important;
}

.icon{
    margin-top: 10px !important;
    cursor: pointer;
}
.display-none{
    display:  none !important;
}